@import '../../Header/stylesheets/constants.scss';

body{
  margin: 0;
  background-color: rgba(18, 218, 1, 0.486);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - #{$header-height});

  .group {
    display: flex;
    min-width: 40vw;
    width: 40vw;
    margin-bottom: 1%;
    flex-direction: column;

    input,
    label {
      display: flex;
      flex: 1;
      width: 100%;
    }

    label {
      color: rgb(255, 0, 0);
    }
  }
}