.button {
  &:hover:not(.disabled) {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.718);
    color: rgb(0, 0, 0);
  }

  &.disabled {
    &:hover {
      cursor: not-allowed;
    }

    opacity: 0.7;
  }

  background-color: rgb(128, 128, 128);
  border: 1px solid rgb(25, 25, 112);
  border-radius: 5px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
}