.sections-container {
  display: flex;

  .section {
    display: inline-flex;
    margin: 0 0.2rem;
  }

  .section-1 {
    flex: 1;
  }
}

.servers {
  display: flex;
  flex: 1;
  flex-direction: column;

  .header {
    display: flex;

    .column {
      display: inline-flex;
    }
  }

  .server {
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    flex-direction: row;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 4px;
    background-color: rgb(17, 156, 236);

    .name,
    .players-count,
    .button {
      display: inline-flex;
    }

    .name {
      flex: 1;
    }

    .players-count {
      min-width: 50px;
    }
  }
}

.button {
  &:hover:not(.disabled) {
    a {
      color: rgb(0, 0, 0);
    }
  }

  a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}