.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.635);

  &.winner-dialog {
    p {
      color: rgb(9, 196, 9);
    }
  }

  &.loser-dialog {
    p {
      color: rgb(255, 0, 0);
    }
  }

  p {
    font-size: 6rem;
  }

  button {
    &:hover {
      cursor: pointer;
    }

    width: 100px;
    height: 50px;
  }
}