.board-container,
.cell {
  border: 2px rgb(0, 0, 0) dashed;
}

.board-container {
  display: grid;
  $sideLength: 40;
  width: #{$sideLength + 'vw'};
  height: #{$sideLength + 'vh'};
  background-color: rgb(172, 172, 226);

  .cell {
    &.opponent-cell:hover {
      border-color: rgb(255, 255, 0);
      cursor: cell;
    }

    &.is-hit {
      border-color: rgb(255, 0, 0);
    }

    &.is-miss {
      background-color: rgb(255, 255, 255);
    }

    &.is-ship-part {
      background-color: rgba(16, 255, 28, 0.478);
      border-radius: 50%;
    }
  }
}