.loading-container {
  text-align: center;

  .waiting-message,
  .players-count {
    font-size: 2.8rem;
  }
}

.boards {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .board-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}