.spinner {
  display: flex;
  align-self: center;
  justify-self: center;
  z-index: 2;
  margin: auto;
  flex: 1;
  width: 200px;
  height: 200px;
  background: url('/images/spinner.gif');
  background-repeat: no-repeat;
  background-size: contain;
}