@import './constants.scss';

header {
  display: flex;
  background-color: rgb(244, 164, 96);
  height: $header-height;

  .button {
    display: inline-flex;
    margin-left: 5px;
  }

  .menu-item {
    display: inline-flex;
    justify-content: flex-end;
    margin: 3px;
  }

  .nav-bar {
    justify-content: flex-start;
    flex: 1;
  }
}